[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mako = "*"
pygments = "*"
markdown = "==2.*"
jmlnotes = {editable = true,path = "."}
"beautifulsoup4" = "*"
feedgen = "*"

[dev-packages]
awscli = "*"
flake8 = "*"
ipython = "*"

[requires]
python_version = "3.7"
